$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMid: "(min-width: 992px)";
$minLarg: "(min-width: 1200px)";

$stClr: #e2494c;
$ndClr: #9c9c9c;
$rdClr: #363636;

$floatL: left;
$floatR: right;