body {
    background: #F6F6F6;
    font: {
        family: Tahoma;
        size: 16px
    }
}
ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.clearfix {
    clear: both;
}
img {
    border-radius: 5px;
}
.txt-xs {
    @media #{$maxMobile} {
        text-align: center
    }
    @media #{$minSmall} {
        text-align: center
    }
}